# This file MUST be at the root of each published runtime ZIP.
bundle.format=1
bundle.version=1.0.0
bundle.architecture=amd64
engine.version=5.3.0
proot.path=bin/proot
python.path=python/bin/python3
engine.path=bin/proot-distro
file.proot.sha256=REPLACE_WITH_SHA256_OF_bin/proot
file.python.sha256=REPLACE_WITH_SHA256_OF_python/bin/python3
file.engine.sha256=REPLACE_WITH_SHA256_OF_bin/proot-distro
